
    body {
      background-color: #FFB2A6;
    }

    hr{
      border-style: none;
      border-top-style: dotted;
      border-color: grey;
      border-width: 5px;
      width: 5%;
    }
    h1 {
      background-color: #FFF89A;
    }
    h3{
    color: #5463FF;
    }
